@import "../../../pages/mixins";

.banner {
  composes: base from "../home/BannerBase.module.scss";

  background-color: rgba(255, 255, 255, 0.15);
  background-image: url('/public/uniques.png');
  padding: 24px;
  align-items: flex-start;
  margin-bottom: 32px;
  border-radius: 24px;
  margin-top: 12px;

  @include laptop {
    background-position: bottom right;
    background-size: cover;
    background-image: url('/public/uniques-mobile.png');
    padding: 32px;
    height: 268px;
    margin-top: 0;
  }
}

.text {
  color: var(--colors-text-alternate);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  padding-top: 64px;
  padding-bottom: 64px;

  @include laptop {
    padding: 0;
  }
}
