.badge {
  position: absolute;
  display: flex;
  align-items: center;
  transform-origin: 0 0;
}

.date {
  background: var(--color-badge-date-background);
  color: var(--color-badge-date-color);
}

.new {
  background: var(--color-badge-new-background);
  color: var(--color-badge-new-color);
}

.sale {
  background: var(--color-badge-sale-background);
  color: var(--color-badge-sale-color);
}
