@import "../pages/mixins";

.badge {
  composes: badge from "./Badge.module.scss";
  top: 24px;
  left: 24px;
  height: 32px;
  line-height: 40;
  font-size: 12px;
  border-radius: 8px;
  padding: 0 16px;
  z-index: 2;
  font-family: var(--font-RO);
  display: flex;

  &.small {
    font-size: 12px;
  }
}
