@import "../pages/mixins";

.container {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  color: var(--colors-text-primary);
  background-color: var(--color-background-primary);

  @include mobile {
    padding: 0 16px;
  }
}
