@import "../../../pages/mixins";

.card {
  font-family: var(--font-RM);
  text-decoration: none;
  color: var(--colors-text-additional);
  display: flex;
  padding: 24px;
  background-color: var(--color-background-default);
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid var(--color-card-border);

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  &.active {
    border: 2px solid var(--color-theme-green);
    box-shadow: 0 8px 16px rgba(156, 164, 169, 0.32);
  }

  & + & {
    margin-top: 16px;
  }

  &:hover {
    box-shadow: 0px 8px 16px rgba(156, 164, 169, 0.32);
  }
}

.rentalName {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 14px;
  display: flex;
  width: 100%;

  @include tablet {
    margin-bottom: 24px;
  }

  .nameAndStar {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include tablet {
      width: calc(100% - 48px - 16px);
      justify-content: space-between;
    }
  }

  .name {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: calc(100% - 70px);

    @include tablet {
      font-size: 18px;
    }

    span {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 12px;

    @include tablet {
      margin-left: 0;
      width: 70px;
    }

    .text {
      margin-right: 8px;
      font-weight: 500;
      font-size: 24px;

      @include tablet {
        font-size: 18px;
      }
    }

    .star {
      width: 20px;
      height: 20px;
      position: relative;
      display: flex;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.imageContainer {
  width: 128px;
  height: 128px;
  margin-right: 24px;
  border-radius: 16px;
  border: 1px solid #E9EAEE;
  overflow: hidden;

  @include tablet {
    display: none;
  }

  img {
    object-fit: contain;
    width: 128px;
    height: 128px;
  }
}

.imageMobileContainer {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 8px;
  border: 1px solid #E9EAEE;
  overflow: hidden;
  display: none;
  box-sizing: border-box;

  @include tablet {
    display: block;
  }

  img {
    object-fit: contain;
    width: 48px;
    height: 48px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 128px - 24px);

  @include tablet {
    width: 100%;
  }
}

.contact {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;

  .value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 36px);
  }

  &.address {
    color: var(--colors-text-secondary);
  }

  &.phone {
    color: var(--colors-text-additional);

    @include tablet {
      font-size: 15px;
      line-height: 140%;
    }
  }

  & + & {
    margin-top: 14px;

    @include tablet {
      margin-top: 17px;
    }
  }
}

.icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
