body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.swiper {
    overflow: visible!important;
}

.swiper-wrapper {
    align-items: stretch!important;
}

.swiper-slide {
    height: auto!important;
}

.leaflet-div-icon {
    background: none!important;
    border: none!important;
}

.ReactModalPortal {
    z-index: 9999;
    position: relative;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Ultralight.eot');
    src: local('Neue Machina Ultralight'), local('NeueMachina-Ultralight'),
    url('/public/fonts/NeueMachina-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Ultralight.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Ultralight.woff') format('woff'),
    url('/public/fonts/NeueMachina-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Light.eot');
    src: local('Neue Machina Light'), local('NeueMachina-Light'),
    url('/public/fonts/NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Light.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Light.woff') format('woff'),
    url('/public/fonts/NeueMachina-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Black.eot');
    src: local('Neue Machina Black'), local('NeueMachina-Black'),
    url('/public/fonts/NeueMachina-Black.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Black.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Black.woff') format('woff'),
    url('/public/fonts/NeueMachina-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Regular.eot');
    src: local('Neue Machina Regular'), local('NeueMachina-Regular'),
    url('/public/fonts/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Regular.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Regular.woff') format('woff'),
    url('/public/fonts/NeueMachina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Bold.eot');
    src: local('Neue Machina Bold'), local('NeueMachina-Bold'),
    url('/public/fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Bold.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Bold.woff') format('woff'),
    url('/public/fonts/NeueMachina-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Medium.eot');
    src: local('Neue Machina Medium'), local('NeueMachina-Medium'),
    url('/public/fonts/NeueMachina-Medium.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Medium.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Medium.woff') format('woff'),
    url('/public/fonts/NeueMachina-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/NeueMachina-Ultrabold.eot');
    src: local('Neue Machina Ultrabold'), local('NeueMachina-Ultrabold'),
    url('/public/fonts/NeueMachina-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
    url('/public/fonts/NeueMachina-Ultrabold.woff') format('woff'),
    url('/public/fonts/NeueMachina-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@keyframes scale {
    from, 50%, to {
        transform: scale(1);
    }

    20% {
        transform: scale(0.9);
    }
}

.ymaps-2-1-79-image-with-content {
    overflow: hidden!important;
    border-radius: 50%!important;
}

.ymaps-2-1-79-image-with-content.rental_icon {
    background-size: contain!important;
    background-position: center!important;
    background-color: #fff!important;
    background-repeat: no-repeat;

    border: 2px solid #13EC50!important;
    width: 40px!important;
    height: 40px!important;
    top: -20px!important;
    left: -20px!important;
    cursor: pointer;
    transition: transform .3s ease;
}

.ymaps-2-1-79-image-with-content.rental_icon:not(.active):hover {
    border-color: #15D14A!important;
    transform: scale(1.1);
}

.ymaps-2-1-79-image-with-content.rental_icon.active {
    border: 4px solid #13EC50!important;
    width: 80px!important;
    height: 80px!important;
    top: -40px!important;
    left: -40px!important;
    cursor: default;
}

.ymaps-2-1-79-events-pane.ymaps-2-1-79-user-selection-none {
    z-index: 2000!important;
}
