:root {
    --color-theme-green: #13EC50;

    --color-text-black: #0F0E0E;
    --colors-text-gray: #6C768A;

    --colors-text-primary: #222222;
    --colors-text-secondary: #6C768A;
    --colors-text-accent: #000000;
    --colors-text-additional: #0F0E0E;
    --colors-text-alternate: #FFFFFF;
    --colors-text-oldPrice: #9EA6B6;

    --color-background-insurance: #7749D9;
    --color-background-default: #ffffff;
    --color-background-primary: #F8F9FA;
    --color-background-secondary: #E9EAEE;
    --color-background-alternate: #222222;
    --color-background-header: #0F0E0E;
    --color-background-footer: #0F0E0E;

    --color-carousel-black-background: #0F0E0E;
    --color-carousel-black-color: #fff;
    --color-carousel-black-background-hover: #222222;
    --color-carousel-black-color-hover: #fff;

    --color-carousel-lite-background: #fff;
    --color-carousel-lite-color: #0F0E0E;
    --color-carousel-lite-background-hover: #E9EAEE;
    --color-carousel-lite-color-hover: #0F0E0E;

    --color-card-background: #ffffff;
    --color-card-border: #D8DDE2;
    --color-card-title: #0F0E0E;
    --color-card-text: #6C768A;
    --color-card-price-text: #000000;
    --color-card-price-value: #0F0E0E;
    --color-card-price-old: #9EA6B6;

    --color-breadcrumbs-default: #6C768A;
    --color-breadcrumbs-current: #0F0E0E;
    --color-breadcrumbs-hover: #13EC50;

    --color-rental-card-title: #6C768A;
    --colot-rental-card-text: #0F0E0E;
    --colot-rental-card-link-default: #0F0E0E;
    --colot-rental-card-link-hover: #22c56d;

    --color-popup-background: #0F0E0E;
    --color-popup-text: #fff;

    --color-links-dedault: #000000;
    --color-links-hover: #13EC50;
    --color-links-active: #0F0E0E;
    --color-links-alternate-default: #fff;
    --color-links-alternate-hover: #13EC50;
    --color-links-alternate-active: #13EC50;

    --color-options-active: #E9EAEE20;

    --color-buttons-insurance-default-color: #0F0E0E;
    --color-buttons-insurance-default-background: #ffffff;
    --color-buttons-insurance-hover-color: #ffffff;
    --color-buttons-insurance-hover-background: #FE6B01;

    --color-buttons-default-color: #0F0E0E;
    --color-buttons-default-background: #13EC50;
    --color-buttons-hover-color: #0F0E0E;
    --color-buttons-hover-background: #15D14A;
    --color-buttons-disabled-color: #9EA6B6;
    --color-buttons-disabled-background: #D8DDE2;

    --color-buttons-additional-default-color: #222222;
    --color-buttons-additional-default-background: #F8F9FA;
    --color-buttons-additional-hover-color: #000000;
    --color-buttons-additional-hover-background: #ffffff;

    --color-buttons-alternate-default-color: #000000;
    --color-buttons-alternate-default-background: #F1F5F6;
    --color-buttons-alternate-hover-color: #222222;
    --color-buttons-alternate-hover-background: #D8DDE2;

    --color-buttons-violet-default-color: #000000;
    --color-buttons-violet-default-background: #F1F5F6;
    --color-buttons-violet-default-border: #F8F9FA;
    --color-buttons-violet-hover-color: #fff;
    --color-buttons-violet-hover-background: #7749D9;
    --color-buttons-violet-hover-border: #7749D9;

    --color-buttons-back-default-background: #fff;
    --color-buttons-back-hover-background: #D8DDE2;
    --color-buttons-back-hover-border: #E9EAEE;

    --color-badge-date-color: #fff;
    --color-badge-date-background: #0F0E0E;
    --color-badge-new-color: #fff;
    --color-badge-new-background: #7749D9;
    --color-badge-sale-color: #fff;
    --color-badge-sale-background: #FE6B01;

    --font-RO: 'Roboto';
    --font-RM: 'Roboto Mono';
    --font-NM: 'Neue Machina';
}
