@import "../../../pages/mixins";

.banner {
  composes: base from "./BannerBase.module.scss";
  background-image: url('/public/banner.jpg');
  height: 538px;

  @include tablet {
    height: 420px;
    background-position: bottom right;
    background-size: cover;
    background-image: url('/public/banner-mobile.jpg');
  }

  @include mobile {
    height: 570px;
  }
}

.heading {
  composes: h1 from "../../Heading.module.scss";
  margin-bottom: 24px;
  font-family: var(--font-NM);

  @include tablet {
    margin-bottom: 32px;
  }
}
