@import "../../../pages/mixins";

.banner {
  background-image: url('/public/banner.png');
  composes: base from "./BannerBase.module.scss";
  height: 538px;

  @include tablet {
    height: 420px;
  }

  @include mobile {
    background-position: bottom right;
    background-size: contain;
    height: 570px;
    background-image: url('/public/banner-mobile.png');
  }
}

.heading {
  composes: h1 from "../../Heading.module.scss";
  margin-bottom: 32px;
  font-family: var(--font-NM);
}
