@import "../../../pages/mixins";

.container {
  composes: container from '../../../layout/Container.module.scss';
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  min-height: unset;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 99px;
  height: max-content;
  background-color: var(--color-background-alternate);

  @include tablet {
    padding-top: 45px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.heading {
  composes: h3 from "../../Heading.module.scss";
  margin-bottom: 47px;
  color: var(--colors-text-alternate);

  @include tablet {
    margin-bottom: 32px;
  }
}

.carousel {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 4px;
    left: -34px;
    width: 100vw;
    height: 100%;
    background-image: url("/public/lightning-line.svg");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-size: auto calc(100% - 80px);
  }
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
